<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/component.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Sample Component</title>
  </head>
  <body>
    <h1>
      Component ini bisa dijadikan sebagai rujukan untuk membuat setiap pagenya
    </h1>
    <ul>
      <li>
        <span>Tombol : </span>
        <div class="button">
          <a href="">Tombol</a>
        </div>
      </li>
      <li>
        <span>Filtering Dropdown : </span>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Fakultas
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>Form : </span>
        <div class="form">
          <h3 class="title-form">Form Tambah (Ruangan)</h3>
          <form action="" method="post" class="form-imput">
            <input
              type="text"
              placeholder="Nama Ruangan"
              class="input-form"
              name="nama-ruangan"
            />
            <input
              type="text"
              placeholder="Nama Ruangan"
              class="input-form"
              name="nama-ruangan"
            />
            <input
              type="text"
              placeholder="Nama Ruangan"
              class="input-form"
              name="nama-ruangan"
            />
            <input
              type="text"
              placeholder="Nama Ruangan"
              class="input-form"
              name="nama-ruangan"
            />
            <button type="submit" class="button-submit">Submit</button>
          </form>
        </div>
      </li>
      <li>
        <span>Card : </span>
        <div id="explore-items" class="explore-items">
          <article class="explore-item" tabindex="0">
            <div class="a">
              <div class="img-container">
                <img
                  class="explore-item__thumbnail lazyload"
                  src="./src/images/noPhoto.png"
                  alt=""
                  tabindex="0"
                />
              </div>
              <div class="explore-item__content">
                <div tabindex="0" class="explore-item__content">
                  <h3 class="explore-item__content-title">Ruang Guru</h3>
                  <p class="explore-item__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Commodi voluptate iste tempora blanditiis provident ut et!
                    Neque ea magnam fuga?
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="explore-item" tabindex="0">
            <div class="a">
              <div class="img-container">
                <img
                  class="explore-item__thumbnail lazyload"
                  src="./src/images/noPhoto.png"
                  alt=""
                  tabindex="0"
                />
              </div>
              <div class="explore-item__content">
                <div tabindex="0" class="explore-item__content">
                  <h3 class="explore-item__content-title">Ruang Guru</h3>
                  <p class="explore-item__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Commodi voluptate iste tempora blanditiis provident ut et!
                    Neque ea magnam fuga?
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="explore-item" tabindex="0">
            <div class="a">
              <div class="img-container">
                <img
                  class="explore-item__thumbnail lazyload"
                  src="./src/images/noPhoto.png"
                  alt=""
                  tabindex="0"
                />
              </div>
              <div class="explore-item__content">
                <div tabindex="0" class="explore-item__content">
                  <h3 class="explore-item__content-title">Ruang Guru</h3>
                  <p class="explore-item__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Commodi voluptate iste tempora blanditiis provident ut et!
                    Neque ea magnam fuga?
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </li>
      <li></li>
    </ul>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
